node_modules
coverage
.DS_Store
.env
.env.*
.idea
qa-tests/Reports
FIDC_RESTART_REQUIRED.txt

# Sensitive config files
config/services/oauth2-provider.json
config/applications/sdk-client.json
config/applications/idm-admin-client.json
config/applications/ig-oidc-client.json
config/consent/terms-and-conditions.json
config/idm-endpoints/scripts-content/companyauth-frdemo.js
config/applications/api-filing-client.json
config/applications/api-filing-client
config/applications/api-filing-m2m-client.json
config/applications/api-filing-web-client.json
config/applications/chs-internal-client.json
config/agents/ig-agent.json
config/managed-users/tree-service-user.json
