node_modules
coverage
.DS_Store
.env
qa-tests/Reports

# Sensitive config files
config/services/oauth2-provider.json
config/applications/sdk-client.json
config/consent/terms-and-conditions.json
config/services/base-url.json
